.container-block {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
    min-height: 100vh;
    border: 2px solid black;
    box-shadow: 0px 0px 72px 19px rgb(163 57 57);
    background-color: white;
}

.info {
    min-height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRYNZ2OKylSJMn8PvTQTQd8wHuRQGWJtg4Jg&usqp=CAU);
}